@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fff9e5;
    color: #1C1208;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  h1, h2, h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}
