@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f8f9fa;
    color: #191c1d;
    font-family: 'Montserrat', system-ui, sans-serif;
  }
}

.glass-overlay {
  background: linear-gradient(to bottom, rgba(0, 33, 71, 0.2), rgba(0, 33, 71, 0.85));
}

.text-shadow-sm {
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
